# Server Configuration
PORT=4000
NODE_ENV=development

# Database Connection (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/ticket_booking_db?schema=public

# Caching & Queue Connection (Redis)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Authentication
JWT_SECRET=super-secret-jwt-key-ticketverse-2026
JWT_EXPIRES_IN=7d

# Frontend Configuration
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_SOCKET_URL=http://localhost:4000

# Nodemailer / Email Service (Optional: Fallbacks to Ethereal Mailer if blank)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
